mkdocs
mkdocs-exclude
mkdocs-git-authors-plugin
mkdocs-git-revision-date-localized-plugin
mkdocs-git-revision-date-plugin
mkdocs-markmap
mkdocs-material
mkdocs-mermaid2-plugin
mkdocs-minify-plugin
mkdocs-pdf-export-plugin
mkdocs-table-reader-plugin
mkdocs-pymdownx-material-extras
pymdown-extensions
